<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>

<figure class="figure">
  <img src="../../../assets/images/got.jpg"
  class="figure-img img-fluid rounded img-thumbnail"
  style="max-width: 200px;">
  <figcaption class="figure-caption">Movie #1 Name</figcaption>
  <figcaption class="figure-caption"> <i class="bi bi-star"></i><b>9.1/10</b></figcaption>
</figure>
